@media only screen and (max-width: 768px) {
    .header-left {
        flex-direction: column;
        align-items: flex-start;
    }

    .logo {
        margin-bottom: 10px;
    }

    .brand h1 {
        font-size: 24px;
    }

    .topnav {
        flex-direction: column;
        align-items: flex-start;
    }

    .topnav a {
        padding: 10px;
        width: 100%;
        box-sizing: border-box;
    }

    .album-grid {
        display: block;
    }

    .album {
        width: 100%;
        max-width: 100%;
        margin-bottom: 20px;
    }

    .album h3 {
        font-size: 16px;
    }

    .thumbnail {
        max-width: 100%;
        height: auto;
    }

    .play-pause-icon {
        display: none;
    }
}

@media only screen and (max-width: 600px) {
    .header-left {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .logo {
        margin-bottom: 10px;
    }

    .brand h1 {
        font-size: 24px;
    }

    .brand p {
        font-size: 14px;
    }

    .topnav {
        flex-direction: column;
        align-items: center;
        width: 100%;
    }

    .topnav a {
        padding: 10px;
        width: 100%;
        box-sizing: border-box;
    }

    .instrumentals h2 {
        font-size: 20px;
        margin-left: 0;
    }

    .thumbnail-wrapper {
        width: 100%;
        display: flex;
        justify-content: center;
    }

    .albumss-thumbnail {
        max-height: 300px;
        max-width: 300px;
    }

    .audio-player {
        width: 90%;
        padding: 10px;
    }

    .track-list h3 {
        font-size: 18px;
    }

    .track-list p {
        font-size: 14px;
    }

    .play-pause-icon {
        display: none;
    }
}

@media only screen and (min-width: 769px) and (max-width: 1024px) {
    .album {
        flex: 1 1 calc(33.33% - 20px);
        max-width: calc(33.33% - 20px);
    }

    .play-pause-icon {
        display: none;
    }
}

@media only screen and (min-width: 1025px) and (max-width: 1200px) {
    .album {
        flex: 1 1 calc(25% - 20px);
        max-width: calc(25% - 20px);
    }

    .play-pause-icon {
        display: none;
    }
}

body {
    font-family: Arial, sans-serif;
    background-color: #333;
    color: #ffffff;
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #444;
}

.header-left {
    display: flex;
    align-items: center;
}

.logo {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin-right: 20px;
}

.brand h1 {
    margin: 0;
    font-size: 32px;
}

.brand p {
    margin: 0;
    font-size: 16px;
    font-style: italic;
}

.topnav {
    display: flex;
}

.topnav a {
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.topnav a:hover {
    background-color: #ddd;
    color: black;
}

.main {
    padding: 20px;
}

.center {
    text-align: center;
}

.instrumentals h2 {
    margin-top: 0;
    font-size: 24px;
    color: #f2f2f2;
}

.instrumentals h2.center {
    text-align: center;
    margin-top: 20px;
}

.album-grid {
    display: flex;
    flex-wrap: wrap;
    margin-top: 50px;
}

.album {
    flex: 1 1 calc(20% - 20px);
    max-width: calc(20% - 20px);
    box-sizing: border-box;
    margin-bottom: 20px;
    text-align: center;
    padding: 10px;
    margin-right: 10px;
    margin-left: 10px;
}

.album h3 {
    margin-top: 0;
    font-size: 18px;
    color: #aaaaaa;
}

.thumbnail {
    width: 100%;
    height: auto;
    max-width: 300px;
}

.albumss-thumbnail {
    width: 600px;
    height: 600px;
    display: block;
    margin: 0 auto;
}


hr {
    border: none;
    height: 1px;
    background-color:rgba(255, 255, 255, 0.5); 
}

.audio-player {
    background-color: #f2f2f2;
    color: #000;
    padding: 20px;
    margin-top: 20px;
    border-radius: 10px;
    text-align: center;
}

.audio-player h3, .audio-player h4 {
    margin: 0;
}

audio {
    width: 100%;
    margin-bottom: 5px;
}

button {
    background-color: #1974D2;
    color: white;
    padding: 10px 20px;
    margin-top: 10px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

button:hover {
    background-color: #145a8a;
}

.albumss-link:hover {
    color: #87CEEB;
}

.albumss-link:active {
    color: white;
}

.track-list span {
    color: #000;
    margin: 5px 0;
}


.track-list span:hover {
    color: red;
    cursor: pointer;
    text-decoration: underline;
}

.title-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.search-filter {
    display: flex;
    align-items: center;
}

#search-bar {
    width: 100%;
    padding: 5px;
    margin-top: 8px;
    margin-right: 10px;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.filter-icon {
    width: 20px;
    height: 20px;
}

.dropdown-content {
    display: none;
    position: absolute;
    right: 0;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.album p a {
    font-weight: bold;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #f1f1f1;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.thumbnail:hover {
    border: 0.5px solid;
    color: gray;
    border-image-slice: 1;
}

#filter-button {
    margin-right: 15px;
    background: none;
    border: none;
    cursor: pointer;
    padding: 5px;
}

.selected::after {
    content: ' ✓';
    color: black;
}

.order.selected::after {
    content: ' •';
}

.dropdown-content hr {
    border: none;
    height: 1px;
    background-color: black;
    margin: 5px 0;
}

.play-pause-icon {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 5%;
    height: auto;
    opacity: 0;
    transform: translate(-20%, -20%) scale(1);
    transition: opacity 0.4s, transform 0.4s;
}

#play-icon {
    display: none;
}

#pause-icon {
    display: none;
}

.thumbnail_wrapper {
    position: relative;
    display: inline-block;
}

.length-badge {
    position: absolute;
    bottom: 10px;
    right: 10px;
    background-color: #444;
    color: white;
    padding: 5px 10px;
    border-radius: 3px;
    font-size: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20px;
}

.favicon-icon {
    width: 35px;
    height: 35px;
}

.social-icon {
    width: 40px;
    height: 40px;
    margin-right: 10px;
}

